@{
    ViewBag.Title = "Удалить преподавателя";
}

    <form method="delete">
        <label> Введите индентификатор преподавателя: </label>
        <input type="number" name="Id" />
        <input type="submit" value="Удалить" />
    </form>
