@{
    ViewBag.Title = "Удалить кафедру";
}

    <form method="delete">
        <label> Введите индентификатор кафедры: </label>
        <input type="number" name="Id" />
        <input type="submit" value="Удалить" />
    </form>
